.nav-pills>li>#left-bar-1 {
    background-color: #eaeaea;
}
.row {
    height: 90%;
    width: 99.9%;
}
.col-md-2 {
    height: 100%;
    border-right: 1px solid #eaeaea;
}
.navigation-right-whole {
    float: left;
    width: 83.33333%;
    height: 100%;
}
div#right-top-bar {
    width: 55%;
    height: 50px;
    margin-left: 10%;
    border-bottom: 2px solid #337ab7;
}
div#right-top-2 {
    float: left;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    background-color: #337ab7;
    height: 38px;
    color: #fff;
    border-top-radius: 10px;
    padding-top: 10px;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
div#right-top-1 {
    float: left;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    height: 38px;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    border-top-radius: 10px;
    padding-top: 10px;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#form-seatinfo1,#form-seatinfo2,#form-seatinfo3{
    float: left;
    width: 26%;
    margin-bottom: 30px;
}
.form-seatinfo-text{
    float: left;
    margin-top: 6px;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
.form-control{
    width: 97%;
}
.form-bottom{
    width: 50%;
    margin-left: 13%;
    margin-top: 5%;
}
a#registertojsp {
    margin-right: 55%;
    margin-top: 30px;
}
a#ulcancel {
    padding: 0px 32px;
}
.form-control[readonly]{
    background-color: #FFFFFF;
}
.top-b{
    color: #FFFFFF;
}
.top-b:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.top-a{
    color: #337ab7;
}
.top-a:hover{
    color: #337ab7;
    text-decoration: none;
}